<%= simple_form_for Question.new, remote: logged_in? do |f| %>
  <!--<p>Unsure who to choose? Ask a question to a lawyer instantly.</p>-->
  <%= f.input :user_id, as: :hidden, input_html: { value: logged_in? ? current_user.id : nil } %>
  <%= f.input :type, as: :hidden, input_html: { value: type } %>
  <%= f.input :body, as: :string, label: false, :placeholder => @subtext[:second] %>
  <%= f.submit "", class: "" %>

  <div class="question_state" id="question_state">
	<div class="question_state_top">
	<h3 class = "question_label">
	<label>Your state:</label></h3>
	</div>
	<div class="question_state_bot">
    <%= f.select :state_name, State.all.map(&:name), selected: auto_detected_state, :include_blank => "Not specifed" %>
	</div>	
  </div>
  <div class="question_area" id="question_area">
	<div class="question_area_top">
	<h3 class = "question_label"><label>Legal domain:</label></h3>
	</div>
	<div class ="question_area_bot">
    <%= f.select :practice_area, PracticeArea.where(:parent_id => nil).map(&:name), :include_blank => "Not specifed" %>
	</div>
  </div>
<% end %>
