#inline-wrapper
  .left-bars-block
    .left-bar.status
      .left-bar-section
        %h3 Talk to Trevor
        %p 
          = image_tag('video_icon_active.png', :alt => '')
          %span Avaiable by video chat now
        %p
          = image_tag('voice_icon.png', :alt => '')
          %span Not avaiable by phone now
        %p
          = image_tag('note_icon.png', :alt => '')
          %span Send a note or ask a question
        %p 
          = image_tag('schedule_icon.png', :alt => '')
          %span Schedule a consultation
    .left-bar
      .left-bar-section.info-header
        %h2 Need-to-know Info
      .left-bar-section.info
        %div
          %h3 Trevor's key practice areas:
          %p Business and Startups
          %ul
            %li Contract review
            %li Incorporation
          %p Patents / IP
          %ul
            %li Copyright Issues
          %p Personal Injury
          %ul
            %li Medical malpractice
            %li Slip and fall
            %li Work-related injury
          %p Real Estate / Rentals
          %ul
            %li Buying / selling house
            %li Landlord-tenant disputes
            %li Lease agreements
        .person_info
          %h3 Trevor's background:
          %p Law school
          %ul
            %li Santa Clara University
          %p Years practicing law
          %ul
            %li 9 years
          %p Yelp Rating
          .stars
            %span.star_rating.on
            %span.star_rating
            %span.star_rating
            %span.star_rating
            %span.star_rating
          %p.small Based on 418 reviews
          %p Lawdingo Rating
          .stars
            %span.star_rating.on
            %span.star_rating
            %span.star_rating
            %span.star_rating
            %span.star_rating
          %a.reviews{:href => '#'}
            Reviews (25)          
          
  .main_content
    .bio-block
      .left_border
      .avatar
        = image_tag('bio_block_ava.png', :alt => '')
      .middle
        %h1 Attorny  Joe Caudle
        %h3 Licensed in CA, MA.
        %p Prepare and File all required documents; Host telephonic "First Meeting of the Board of Directors" including a Corporate law 101-type instructional/information component. Too many new companies incorporate but do not understand what this entails from an operational standpoint.
  .main_content
    .profile_info
      .header_content
        .left
          %h2 Ask a question:
          %textarea{:placeholder => 'Type your question here'}
          %a{:href => '#'} Ask
        .right
          %p Available appointments
          %table
            %tr
              %td
                %a.first_date{:href => '#'} Today
              %td
                %a.second_date{:href => '#'} Fri, 11/21
              %td
                %a.third_date{:href => '#'} Fri, 11/21
              %td
                %a.fourth_date{:href => '#'} Fri, 11/21    
            %tr
              %td
                %a{:href=>'#'} 4:30pm
              %td
                %a{:href=>'#'} 9:00am
              %td
                %a{:href=>'#'} 4:30pm
              %td
                %a{:href=>'#'} 9:00am                
            %tr
              %td
                %a{:href=>'#'} 5:00pm
              %td
                %a{:href=>'#'} 9:30am
              %td
                %a{:href=>'#'} 4:30pm
              %td
                %a{:href=>'#'} 9:00am                
            %tr
              %td
                %a{:href=>'#'} 5:30pm
              %td
                %a{:href=>'#'} 8:30am
              %td
                %a{:href=>'#'} 4:30pm
              %td
                %a{:href=>'#'} 9:00am                
            %tr
              %td
                %a{:href=>'#'} more
              %td
                %a{:href=>'#'} more  
              %td
                %a{:href=>'#'} 4:30pm
              %td
                %a{:href=>'#'} 9:00am                                                   
          
          %a.appointments{:href => '#'}
            See All Appointements
      .main-content
        .video-block
          %h4 Trevor Self-introduction video:
          = image_tag('video-img.png', :alt => '')
        .practice-block
          %h4 More about practice:
          %p Strip steak tongue salami biltong. Pancetta ground round short ribies tail streips siteak. Tongue pig beef ris strip steak fnekiefurter kielbasa. Pork t-bone venison, ham hiock shank ball tip pork belly. Spare ribes ham  filet mignon chicken flank pork belly tri-tip shank speck. Kielbasa fatback jerky, haam t-bone leberkeuas tongue. Pork belly beef ribs ham, chicken venison ham hock swine burger ground round shank ribeye.
        .main-info
          %h4 Trevor’s Flat-fee Services (2):
          %h3 
            Uncontested No Fault Divorce	
            %span $750 flat fee
          %p Prepare and File all required documents; Host telephonic "First Meeting of the Board of Directors" including a Corporate law 101-type instructional/information component. Too many new companies incorporate but do not understand what this entails from an operational standpoint. IT IS NOT just file the papers and wham, you're a corporation! *Fee above does not include hard costs charged by the State as well as a nominal courier fee to file the documents in Sacramento.
          %p.last
            %strong Practice area: Business and Startups
          %h3
            Uncontested No Fault Divorce
            %span $750 flat fee
          %p research, prepare and file a Trademark Application. *Does not include the government filling fees.
          %p.last
            %strong Practice area: Business and Startups
          %h4.yelp Latest yelp reviews:
          .comment-block
            = image_tag('comment_ava.png', :alt => '')
            .comment_cloud
              .left_border
              .stars
                %span.star_rating.on
                %span.star_rating
                %span.star_rating
                %span.star_rating
                %span.star_rating
              %p
                Strip steak tongue salami biltong. Pancetta ground round short ribies tail streips siteak. Tongue pig beef ris strip steak fnekiefurter kielbasa. Ham hiock shank ball tip pork belly. 
                %a
                  %strong
                    Read More
              %p 
                Posted by 
                %strong Catlin
                on 
                %strong Yelp.com
          .comment-block
            = image_tag('comment_ava.png', :alt => '')
            .comment_cloud
              .left_border
              .stars
                %span.star_rating.on
                %span.star_rating
                %span.star_rating
                %span.star_rating
                %span.star_rating
              %p
                Strip steak tongue salami biltong. Pancetta ground round short ribies tail streips siteak. Tongue pig beef ris strip steak fnekiefurter kielbasa. Ham hiock shank ball tip pork belly.
                %a
                  %strong
                    Read More
              %p 
                Posted by 
                %strong Catlin
                on 
                %strong Yelp.com   
          .client-reviews
            %h4 Lawdingo client reviews: 
            .review.first
              .left
                %p 
                  2 minutes session About 
                  %strong legal adivice
                  , “Help session. Thanks Deepa”
              .right
                %p 15.03.2012
                .stars
                  %span.star_rating.on
                  %span.star_rating
                  %span.star_rating
                  %span.star_rating
                  %span.star_rating
            .review.last
              .left
                %p 
                  2 minutes session About 
                  %strong legal adivice
                  , “Help session. Thanks Deepa”
              .right
                %p 15.03.2012
                .stars
                  %span.star_rating.on
                  %span.star_rating
                  %span.star_rating
                  %span.star_rating
                  %span.star_rating
                                    
          
  
  
  
  
  
  
  